.producto-card {
  background: #2b0040;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

.producto-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.producto-info h5 {
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.producto-info p {
  margin: 0.3rem 0;
  color: #ccc;
  font-size: 0.9rem;
}

.precio {
  color: #f5a623;
  font-weight: bold;
  font-size: 1rem;
}
