/bin
/include
/lib
/lib64
pyvenv.cfg
.env

# Node y Angular
node_modules/
dist/
.angular/
*.log

# Flask y Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
instance/
*.sqlite3
*.db
*.pyvenv.cfg
bin/
lib/



# Entornos y configuraciones sensibles
.env
.env.local
config.py
*.pem

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas específicas por proyecto
/frontend/node_modules
/frontend/dist

/backend/__pycache__
/backend/env
/backend/instance


.vscode

#Apuntes mios
/clase1
/clase2