<app-navbar></app-navbar>

<app-universal-card
  variant="glass"
  size="xl"
  padding="2xl"
  borderRadius="xl"
  customClass="menu-card"
>
  <header class="menu-header text-center">
    <h1 class="app-title">Nuestro <span class="highlight">Menú</span></h1>
    <p class="subtitle">Descubrí tus platos favoritos</p>
  </header>

  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="search-container mb-4 w-full d-flex gap-2">
      <app-input type="search" placeholder="Buscar por nombre..." iconStart="bi bi-search" formControlName="name"></app-input>
      <app-input type="text" placeholder="Buscar por categoría..." iconStart="bi bi-tag" formControlName="category"></app-input>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>

  <div class="products-container">
    @for (product of products; track product.id) {
      <app-universal-card
        variant="glass"
        padding="xs"
        [hoverable]="true"
        borderRadius="md"
        customClass="product-card"
      >
        <div class="product-content">
          <img [src]="product.image_url" [alt]="product.name" class="product-image" />
          <div class="product-info">
            <h3 class="product-title">{{ product.name }}</h3>
            <p class="product-description">
              {{ product.description }}
            </p>
            <span class="product-price">${{ product.price }}</span>
          </div>
        </div>
      </app-universal-card>
    }
    @empty {
      <p>No hay productos disponibles.</p>
    }
  </div>

  <nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="prevPage()">Anterior</a>
      </li>
      @for (page of getPagesArray(); track page) {
        <li class="page-item" [class.active]="currentPage === page">
          <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>
      }
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()">Siguiente</a>
      </li>
    </ul>
  </nav>
</app-universal-card>
