body {
    background: linear-gradient(180deg, #1e003e, #000020);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-bottom: 1rem; 
    /* IGUAL EN ADMIN MENU y EMPLEADO PANEL Y EMPLEADO PANEL */
  }

  .menu-item {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 0.75rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .item-icon {
    background: #9b4dff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    min-width: 42px;
    min-height: 42px;
  }
  .item-text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .item-text .price {
    font-size: 0.9rem;
    color: #bbb;
  }

  .btn-edit {
    background: #9b4dff;
    border: none;
    color: #fff;
    
  }
  .btn-edit:hover { background: #7b3ce3; }
  .btn-delete {
    background: #e63946;
    border: none;
    color: #fff;
  }
  .btn-delete:hover { background: #c1121f; }
  .back-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  .back-btn:hover { color: #9b4dff; }
  .fab-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: #9b4dff;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    z-index: 1050;
  }
  .fab-btn:hover { background: #7b3ce3; }