
  .badge-entregado {
    background-color: #198754; 
  }
  .badge-camino {
    background-color: #ffc107; 
    color: black;
  }
  .badge-cancelado {
    background-color: #dc3545;
  }
  .pedido-title {
    color: #e0e0ff;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .pedido-cliente {
    color: #f8f9fa;
    font-weight: 500;
  }
  .pedido-detalle {
    color: #cfd1ff;
    font-size: 0.9rem;
  }