<nav class="navbar fixed-top bg-light w-100">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <!-- Logo + nombre -->
    <div class="d-flex align-items-center">
      <img src="assets/imagenpollo.jpg" alt="Logo" style="height: 40px; margin-right: 10px;">
      <span class="fw-bold fs-5">Rotisería UM</span>
    </div>

    <!-- Enlace cuenta y carrito -->
    <a routerLink="/carrito-pedido-cliente" class="text-decoration-none text-dark d-flex align-items-center">
      <i class="fas fa-user me-2"></i> Mi cuenta
      <i class="fas fa-shopping-cart ms-3"></i> 
      <span class="ms-1">0</span>
    </a>

  </div>
</nav>
