.form-control, .form-select {
    background-color: rgba(255, 255, 255, 0.1); /* tono más claro que el fondo */
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  .form-control::placeholder, .form-select {
    color: rgba(255, 255, 255, 0.6);
  }
  .form-control:focus, .form-select:focus {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: #9b4dff;
    box-shadow: 0 0 0 0.25rem rgba(155, 77, 255, 0.25);
    color: #fff;
  }
  label {
    font-weight: 500;
  }