.card-carrito {
    max-width: 100%;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 20px;
    box-sizing: border-box;
    word-break: break-word;
    overflow-wrap: break-word;
    /* overflow: hidden; */
    background: linear-gradient(180deg, #1b0026, #1a003d);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  }
  .card-carrito h2 {
    font-weight: bold;
  }