.action-btn {
    background-color: var(--bg-card-secondary);
    width: 100%;
    /* width: clamp(250px, 100%, 400px); */
    border: none;
    border-radius: var(--border-radius-md);
    padding: 1rem 0.5rem;
    color: var(--text-white);
    text-align: center;
    transition: all 0.3s ease;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 80px;
    min-height: 70px;
    
  }
  
  .action-btn:hover {
    background-color: rgba(155, 77, 255, 0.2);
    transform: translateY(-3px);
    color: var(--text-white);
  }

  .action-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
  }
  
  .action-text {
    font-size: 0.85rem;
  }
  
